/* styles/Home.module.css */

.jsonResponse {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  font-family: 'Courier New', monospace;
}

.hidden {
  display: none;
}

#showChatForm, #showRegisterForm, #showLoginForm {
  font-size: 75%;
  padding: 7.5px;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.chatBox {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chatRole {
  font-weight: bold;
  margin-bottom: 5px;
}

.chatContent {
  white-space: pre-wrap;
}

.chatContent h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.chatContent h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.chatContent h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.chatContent h4 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.chatContent p {
  margin-bottom: 0.5em;
}

.chatContent ul, .chatContent ol {
  margin-bottom: 0.5em;
  padding-left: 1.5em;
}

.chatContent blockquote {
  margin: 0;
  padding: 1em;
  background-color: #f9f9f9;
  border-left: 0.25em solid #dfe2e5;
}

.chatContent code {
  background-color: #f4f4f4;
  padding: 0.2em;
  border-radius: 3px;
}

.chatContent pre code {
  display: block;
  padding: 1em;
}

.chatContent table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.chatContent th, .chatContent td {
  border: 1px solid #ddd;
  padding: 0.5em;
  text-align: left;
}

.chatContent img {
  max-width: 100%;
}

.errorMessage {
  color: red;
}

.hidden {
  display: none;
}

.mainContent {
  width: 100%;
}

.mainContentWithDashboard {
  width: 60%;
  order: 2;
}

.dashboard {
  width: 40%;
  border-left: 1px solid #ccc;
  padding: 20px;
  order: 1;
}

.totalPortfolioValue {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.balanceItem {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.balanceItem strong {
  display: inline-block;
  width: 100px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}
